* {
  box-sizing: border-box;
  font-family: "Helvetica";
}

html {
  font-size: 14px;
}

.container {
  background-color: #e8e8e8;
  font-size: 0;
}

.navbar {
  background-color: orange;
  padding: 1px;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-items {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding-left: 0;
}

.navbar-item {
  padding: 5px;
  border: 1px solid #fff;
  color: #fff;
}

.content {
  width: 70%;
  display: inline-block;
  font-size: 16px;
}
.content img {
  display: block;
  margin: auto;
}

.sidebar {
  border: 1px solid #ccc;
  padding: 20px;
  width: 30%;
  vertical-align: top;
  display: inline-block;
  background-color: white;
  text-align: center;
}
.sidebar h2 {
  font-size: 20px;
}

.sidebar-card {
  display: block;
}

.sidebar-card-caption {
  margin-bottom: 35px;
  font-size: 12px;
}

.sidebar-footer {
  background-color: #70a6ff;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.footer {
  overflow: auto;
  font-size: 12px;
  background-color: #70a6ff;
}
.footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
@media screen and (min-width: 500px) {
  .content:not(.header){
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .content > img {
    width: 90%;
    grid-column: 1/2;
  }
  .content > p {
    padding: 20px;
    display: unset;
    grid-column: 2/3;
    width: 100%
  }
  .sidebar {
    text-align: unset;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 30px;
  }
  .sidebar-card {
    padding: 10px;
    display: flex;
    flex-flow: row;
    width: 70%;
  }
  .sidebar > img {
    width: 30%
  }
  .sidebar-card-caption {
    font-size: 15px;
    padding: 15px;
  }
}